* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
  background-color: rgba(0, 128, 128, 0.63); }

a {
  text-decoration: none;
  color: black; }

ul {
  list-style: none; }

h2,
h3,
h4,
h5 {
  text-transform: uppercase; }

img {
  width: 100%; }

#main-body {
  height: 100vh;
  overflow: hidden; }

.main-container {
  display: grid;
  grid-template-columns: 35% 65%;
  height: 100%; }

#user-list-sidebar {
  background-color: brown;
  height: 100%;
  position: relative;
  width: 100%;
  /* Handle */
  /* Handle on hover */ }
  #user-list-sidebar .user-list-sidebar-head {
    padding: 1rem;
    border-bottom: none;
    position: absolute;
    top: 0;
    width: 100%; }
    #user-list-sidebar .user-list-sidebar-head .user-list-sidebar-nav {
      display: flex;
      justify-content: space-between; }
      #user-list-sidebar .user-list-sidebar-head .user-list-sidebar-nav ul {
        display: flex; }
        #user-list-sidebar .user-list-sidebar-head .user-list-sidebar-nav ul li {
          margin: 0 0.4rem; }
  #user-list-sidebar ::-webkit-scrollbar {
    width: 0.5rem; }
  #user-list-sidebar ::-webkit-scrollbar-thumb {
    background: darkcyan;
    border-radius: 10px; }
  #user-list-sidebar ::-webkit-scrollbar-thumb:hover {
    background: teal; }
  #user-list-sidebar #groups-and-users {
    padding: 0.6rem;
    position: absolute;
    overflow: auto;
    bottom: 0;
    top: 56px;
    width: 100%; }
    #user-list-sidebar #groups-and-users .user-list .user-item {
      margin: 0.1rem 0;
      padding: 0.6rem;
      display: flex;
      align-items: center;
      width: 100%; }
      #user-list-sidebar #groups-and-users .user-list .user-item .user-image {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        flex-grow: 1; }
      #user-list-sidebar #groups-and-users .user-list .user-item .user-name {
        flex-grow: 8; }
      #user-list-sidebar #groups-and-users .user-list .user-item .user-time {
        flex-grow: 1; }
    #user-list-sidebar #groups-and-users .user-list .user-item:hover {
      background-color: rgba(0, 0, 0, 0.219);
      border-radius: 0.6rem; }

#main-chat {
  background-color: darkolivegreen;
  position: relative;
  height: 100%;
  width: 100%;
  /* Handle */
  /* Handle on hover */ }
  #main-chat ::-webkit-scrollbar {
    width: 5px; }
  #main-chat ::-webkit-scrollbar-thumb {
    background: darkcyan;
    border-radius: 10px; }
  #main-chat ::-webkit-scrollbar-thumb:hover {
    background: teal; }
  #main-chat header {
    position: absolute;
    top: 0;
    width: 100%;
    border-bottom: none; }
  #main-chat section {
    position: absolute;
    bottom: 50px;
    top: 56px;
    overflow: auto;
    width: 100%; }
  #main-chat footer {
    position: absolute;
    bottom: 0;
    width: 100%; }

header {
  border-bottom: 1px solid darkcyan; }
  header .main-nav {
    display: flex;
    justify-content: space-between; }
    header .main-nav .main-nav-items {
      display: flex; }
      header .main-nav .main-nav-items li {
        margin-right: 0.2rem; }
        header .main-nav .main-nav-items li a {
          padding: 0.4rem 1.4rem;
          background-color: darkcyan;
          margin: 0 0.2rem;
          border-radius: 0.6rem;
          font-weight: 600; }
        header .main-nav .main-nav-items li a:hover,
        header .main-nav .main-nav-items li a:active {
          font-size: 1.1rem; }

.container {
  padding: 1rem; }

.form-section {
  width: 25rem;
  padding: 1rem;
  margin: 0 auto;
  border: 2px solid rgba(0, 0, 0, 0.589);
  border-radius: 0.8rem;
  margin-top: 2rem; }
  .form-section label,
  .form-section input {
    display: block;
    width: 100%; }
  .form-section input {
    border: none;
    border-radius: 0.4rem;
    padding: 0.6rem;
    font-size: 1.2rem;
    margin-bottom: 0.6rem; }
  .form-section input:focus {
    outline: none;
    box-shadow: 0px 4px 2px #044949;
    border: 1px solid #044949;
    border-bottom: none; }
  .form-section .signup-btn {
    padding: 0.5rem 2rem;
    margin: 1rem auto;
    border-radius: 0.6rem;
    background-color: darkcyan;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer; }
  .form-section .signup-btn:hover,
  .form-section .signup-btn:active {
    background-color: #fff;
    color: darkcyan; }
  .form-section .login-btn {
    padding: 0.5rem 2rem;
    margin: 1rem auto;
    border-radius: 0.6rem;
    background-color: darkcyan;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer; }
  .form-section .login-btn:hover,
  .form-section .login-btn:active {
    background-color: #fff;
    color: darkcyan; }
  .form-section .click-here {
    color: teal;
    font-weight: bold; }
