* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
  background-color: rgba(0, 128, 128, 0.63); }

a {
  text-decoration: none;
  color: black; }

ul {
  list-style: none; }

h2,
h3,
h4,
h5 {
  text-transform: uppercase; }

img {
  width: 100%; }

#main-body {
  height: 100vh;
  overflow: hidden; }

.main-container {
  display: grid;
  grid-template-columns: 35% 65%;
  height: 100%; }

#user-list-sidebar {
  background-color: brown;
  height: 100%;
  position: relative;
  width: 100%;
  /* Handle */
  /* Handle on hover */ }
  #user-list-sidebar .user-list-sidebar-head {
    padding: 1rem;
    border-bottom: none;
    position: absolute;
    top: 0;
    width: 100%; }
    #user-list-sidebar .user-list-sidebar-head .user-list-sidebar-nav {
      display: flex;
      justify-content: space-between; }
      #user-list-sidebar .user-list-sidebar-head .user-list-sidebar-nav ul {
        display: flex; }
        #user-list-sidebar .user-list-sidebar-head .user-list-sidebar-nav ul li {
          margin: 0 0.4rem; }
  #user-list-sidebar ::-webkit-scrollbar {
    width: 0.5rem; }
  #user-list-sidebar ::-webkit-scrollbar-thumb {
    background: darkcyan;
    border-radius: 10px; }
  #user-list-sidebar ::-webkit-scrollbar-thumb:hover {
    background: teal; }
  #user-list-sidebar #groups-and-users {
    padding: 0.6rem;
    position: absolute;
    overflow: auto;
    bottom: 0;
    top: 56px;
    width: 100%; }
    #user-list-sidebar #groups-and-users .user-list .user-item {
      margin: 0.1rem 0;
      padding: 0.6rem;
      display: flex;
      align-items: center;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.219);
      border-radius: 0.6rem; }
      #user-list-sidebar #groups-and-users .user-list .user-item .user-image {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        flex-grow: 1; }
      #user-list-sidebar #groups-and-users .user-list .user-item .user-name {
        flex-grow: 8; }
      #user-list-sidebar #groups-and-users .user-list .user-item .user-time {
        flex-grow: 1; }
    #user-list-sidebar #groups-and-users .user-list .user-item:hover {
      background-color: rgba(0, 0, 0, 0.219);
      border-radius: 0.6rem; }

#main-chat {
  background-color: darkolivegreen;
  position: relative;
  height: 100%;
  width: 100%;
  /* Handle */
  /* Handle on hover */ }
  #main-chat ::-webkit-scrollbar {
    width: 5px; }
  #main-chat ::-webkit-scrollbar-thumb {
    background: darkcyan;
    border-radius: 10px; }
  #main-chat ::-webkit-scrollbar-thumb:hover {
    background: teal; }
  #main-chat header {
    position: absolute;
    top: 0;
    width: 100%;
    border-bottom: none; }
  #main-chat #chat-container {
    position: absolute;
    bottom: 67px;
    top: 56px;
    overflow: auto;
    padding: 1rem;
    width: 100%;
    background-color: aquamarine; }
    #main-chat #chat-container .chat-container-msg-list {
      display: flex;
      flex-direction: column;
      width: auto; }
      #main-chat #chat-container .chat-container-msg-list .chat-container-msg {
        width: fit-content;
        display: flex;
        flex-direction: column;
        max-width: 65%;
        background-color: rgba(11, 82, 82, 0.774);
        padding: 0.6rem;
        border-radius: 0.6rem;
        margin: 0.2rem 0; }
        #main-chat #chat-container .chat-container-msg-list .chat-container-msg .chat-container-msg-box {
          display: flex;
          justify-content: space-between;
          width: auto; }
      #main-chat #chat-container .chat-container-msg-list .me {
        align-self: flex-end; }
  #main-chat .message-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem; }
    #main-chat .message-footer form {
      width: 100%;
      display: flex; }
    #main-chat .message-footer input {
      border: none;
      padding: 0.6rem 0.4rem;
      font-size: 0.8rem;
      flex-grow: 9;
      border-radius: 0.4rem; }
    #main-chat .message-footer input:focus {
      outline: none; }
    #main-chat .message-footer button {
      flex-grow: 1;
      border: none;
      border-left: 2px solid black;
      border-radius: 0.4rem; }

.chat-bubble {
  background-color: #e6f8f1;
  padding: 16px 28px;
  -webkit-border-radius: 20px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius: 20px;
  -moz-border-radius-bottomleft: 2px;
  border-radius: 20px;
  border-bottom-left-radius: 2px;
  display: inline-block; }

.typing {
  align-items: center;
  display: flex;
  height: 17px; }

.typing .dot {
  animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
  background-color: #6cad96;
  border-radius: 50%;
  height: 7px;
  margin-right: 4px;
  vertical-align: middle;
  width: 7px;
  display: inline-block; }

.typing .dot:nth-child(1) {
  animation-delay: 200ms; }

.typing .dot:nth-child(2) {
  animation-delay: 300ms; }

.typing .dot:nth-child(3) {
  animation-delay: 400ms; }

.typing .dot:last-child {
  margin-right: 0; }

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px);
    background-color: #6cad96; }
  28% {
    transform: translateY(-7px);
    background-color: #9ecab9; }
  44% {
    transform: translateY(0px);
    background-color: #b5d9cb; } }

header {
  border-bottom: 1px solid darkcyan; }
  header .main-nav {
    display: flex;
    justify-content: space-between; }
    header .main-nav .main-nav-items {
      display: flex; }
      header .main-nav .main-nav-items li {
        margin-right: 0.2rem; }
        header .main-nav .main-nav-items li a {
          padding: 0.4rem 1.4rem;
          background-color: darkcyan;
          margin: 0 0.2rem;
          border-radius: 0.6rem;
          font-weight: 600; }
        header .main-nav .main-nav-items li a:hover,
        header .main-nav .main-nav-items li a:active {
          font-size: 1.1rem; }

.container {
  padding: 1rem; }

.form-section {
  width: 25rem;
  padding: 1rem;
  margin: 0 auto;
  border: 2px solid rgba(0, 0, 0, 0.589);
  border-radius: 0.8rem;
  margin-top: 2rem; }
  .form-section label,
  .form-section input {
    display: block;
    width: 100%; }
  .form-section input {
    border: none;
    border-radius: 0.4rem;
    padding: 0.6rem;
    font-size: 1.2rem;
    margin-bottom: 0.6rem; }
  .form-section input:focus {
    outline: none;
    box-shadow: 0px 4px 2px #044949;
    border: 1px solid #044949;
    border-bottom: none; }
  .form-section .signup-btn {
    padding: 0.5rem 2rem;
    margin: 1rem auto;
    border-radius: 0.6rem;
    background-color: darkcyan;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer; }
  .form-section .signup-btn:hover,
  .form-section .signup-btn:active {
    background-color: #fff;
    color: darkcyan; }
  .form-section .login-btn {
    padding: 0.5rem 2rem;
    margin: 1rem auto;
    border-radius: 0.6rem;
    background-color: darkcyan;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer; }
  .form-section .login-btn:hover,
  .form-section .login-btn:active {
    background-color: #fff;
    color: darkcyan; }
  .form-section .click-here {
    color: teal;
    font-weight: bold; }
